<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.compuplex.fobicapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Google Cloud Messaging -->
        <receiver
            android:name=".notification.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="nl.compuplex.fobicapp" />
            </intent-filter>
        </receiver>

        <service android:name=".notification.GcmIntentService" />
        <!-- End Google Cloud Messaging -->

        <activity
            android:name=".Views.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".Views.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.compuplex.fobicapp.Views.MainActivity" />
        </activity>
    </application>

</manifest>
